body{
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: 0;
}


::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.element::-webkit-scrollbar { width: 0; }
.element { 
    overflow: -moz-scrollbars-none; 
    background: transparent;  /* опционально */
    -ms-overflow-style: none; 
}
header{
    text-align: center;
    padding-top: 45vh;
}
header h1{
    font-size: 80px;
    color:white;
    font-weight: initial;
}
.scene{
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.paralax-img{
    position: absolute;
    height: 100%;
    width: 110%;
    transform: translateX(10%);
}
.img-1{
    background: url('img/sky.webp') no-repeat; 
    background-size: 110% 100%;
}
.img-2{
    background: url('img/mounts.webp') no-repeat;
    background-size: 110% 100%;
    margin-top: 20px;
}
.img-3{
    background: url('img/ground.webp') no-repeat;
    background-size: 110% 100%;
}
.topnav{
    margin-top: -50px;
    font-size: 25px;
    z-index: 1;
    
}
.topnav a{
    margin: 0px 5px;
    text-decoration: none;
    color: #FFF;
    padding: 2px 10px;
    border: 1px solid #FFF;
    border-radius: 20px;
    transition: 0.2s;
}

.topnav a:hover{
    color: #161616;
    background-color: white;
}

.ff{
    margin-top: 500px;
    margin-bottom: 500px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}